<form class="mech-foundry defender-prompt-dialog">
  <div class="attack-warning">
    <p><strong>{{attackerName}}</strong> {{localize "MECHFOUNDRY.IsAttackingYouWith"}} <strong>{{weaponName}}</strong>!</p>
  </div>

  <div class="form-group">
    <label>{{localize "MECHFOUNDRY.ChooseDefense"}}</label>
  </div>

  <div class="defense-options">
    {{#each options}}
    <div class="defense-option">
      <label class="radio-label">
        <input type="radio" name="defenseOption" value="{{this.id}}"
          {{#if @first}}checked{{/if}}/>
        <span class="option-name">{{this.name}}</span>
        {{#if this.level}}
        <span class="option-level">(+{{this.level}})</span>
        {{/if}}
        {{#if this.total}}
        <span class="option-total">(+{{this.total}})</span>
        {{/if}}
        {{#if (eq this.type "decline")}}
        <span class="option-warning">({{localize "MECHFOUNDRY.AutoFailMoS"}} -3)</span>
        {{/if}}
      </label>
    </div>
    {{/each}}
  </div>

  <hr/>

  <div class="form-group">
    <label>{{localize "MECHFOUNDRY.AdditionalModifier"}}</label>
    <input type="number" name="modifier" value="0"/>
  </div>
</form>
