<form class="{{cssClass}} mech-foundry vehicle-actor-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="70" width="70" />
    <div class="header-fields">
      <h1>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Vehicle Name" />
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="placeholder-content">
      <h3>Vehicle Sheet</h3>
      <p>This vehicle sheet is a placeholder and will be expanded in a future update.</p>
      {{editor enrichedBiography target="system.biography" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
