<div class="mech-foundry roll-result skill-roll">
  <div class="roll-title">{{skillName}} Skill Check</div>
  <div class="roll-formula">
    [{{diceResults.[0]}}]+[{{diceResults.[1]}}] + ({{skillMod}}){{#if inputMod}}{{#if (gte inputMod 0)}} + {{inputMod}}{{else}} - {{abs inputMod}}{{/if}}{{/if}}{{#if injuryMod}}{{#if (gte injuryMod 0)}} + {{injuryMod}}{{else}} - {{abs injuryMod}}{{/if}}{{/if}}{{#if fatigueMod}}{{#if (gte fatigueMod 0)}} + {{fatigueMod}}{{else}} - {{abs fatigueMod}}{{/if}}{{/if}} = {{total}}
  </div>
  <div class="roll-tn">TN: {{targetNumber}}</div>
  <div class="roll-mos {{#if success}}success{{else}}failure{{/if}}">
    MoS: {{marginOfSuccess}} [{{#if success}}Success{{else}}Failure{{/if}}]
  </div>
</div>
