<div class="mech-foundry roll-result weapon-attack">
  <div class="roll-title">{{weaponName}} Attack</div>
  <div class="attack-type">Attack Type: {{attackType}}</div>

  {{#each results}}
  <div class="attack-roll">
    {{#if this.targetIndex}}<div class="target-label">Target {{this.targetIndex}}:</div>{{/if}}
    <div class="roll-formula">
      [{{this.diceResults.[0]}}]+[{{this.diceResults.[1]}}]{{#if ../skillMod}} + ({{../skillMod}}){{/if}}{{#if ../inputMod}}{{#if (gte ../inputMod 0)}} + {{../inputMod}}{{else}} - {{abs ../inputMod}}{{/if}}{{/if}}{{#if ../recoilMod}} - {{../recoilMod}}{{/if}}{{#if ../firingModeMod}} - {{../firingModeMod}}{{/if}}{{#if ../injuryMod}}{{#if (gte ../injuryMod 0)}} + {{../injuryMod}}{{else}} - {{abs ../injuryMod}}{{/if}}{{/if}}{{#if ../fatigueMod}}{{#if (gte ../fatigueMod 0)}} + {{../fatigueMod}}{{else}} - {{abs ../fatigueMod}}{{/if}}{{/if}} = {{this.total}}
    </div>
    <div class="roll-tn">TN: {{../targetNumber}}</div>
    <div class="roll-mos {{#if this.success}}success{{else}}failure{{/if}}">
      MoS: {{this.marginOfSuccess}} [{{#if this.success}}Success{{else}}Failure{{/if}}]
    </div>

    {{#if this.success}}
    <div class="damage-section">
      <div class="damage-header">Damage</div>
      <div class="damage-details">
        {{#if this.isSubduing}}
        <div class="damage-line subduing">
          <span class="damage-label">Fatigue:</span>
          <span class="damage-value">{{this.fatigueDamage}}</span>
          <span class="damage-breakdown">({{this.baseDamage}} base{{#if this.mosDamage}} + {{this.mosDamage}} MoS{{/if}})</span>
        </div>
        {{else}}
        <div class="damage-line standard">
          <span class="damage-label">Standard:</span>
          <span class="damage-value">{{this.standardDamage}}</span>
          <span class="damage-breakdown">({{this.baseDamage}} base{{#if this.mosDamage}} + {{this.mosDamage}} MoS{{/if}})</span>
        </div>
        {{#if this.fatigueDamage}}
        <div class="damage-line fatigue">
          <span class="damage-label">Fatigue:</span>
          <span class="damage-value">{{this.fatigueDamage}}</span>
        </div>
        {{/if}}
        {{/if}}
        <div class="damage-line ap">
          <span class="damage-label">AP:</span>
          <span class="damage-value">{{this.ap}}{{this.apFactor}}</span>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}

  {{#if (ne firingMode "single")}}
  <div class="ammo-info">Ammo Used: {{ammoUsed}} rounds</div>
  {{/if}}
</div>
