<div class="mech-foundry roll-result weapon-attack">
  <div class="roll-title">{{weaponName}} Attack</div>
  <div class="attack-type">Attack Type: {{attackType}}</div>

  {{#each results}}
  <div class="attack-roll">
    {{#if this.targetIndex}}<div class="target-label">Target {{this.targetIndex}}:</div>{{/if}}
    <div class="roll-formula">
      [{{this.diceResults.[0]}}]+[{{this.diceResults.[1]}}]{{#if ../skillMod}} + ({{../skillMod}}){{/if}}{{#if ../inputMod}}{{#if (gte ../inputMod 0)}} + {{../inputMod}}{{else}} - {{abs ../inputMod}}{{/if}}{{/if}}{{#if ../recoilMod}} - {{../recoilMod}}{{/if}}{{#if ../firingModeMod}} - {{../firingModeMod}}{{/if}}{{#if ../injuryMod}}{{#if (gte ../injuryMod 0)}} + {{../injuryMod}}{{else}} - {{abs ../injuryMod}}{{/if}}{{/if}}{{#if ../fatigueMod}}{{#if (gte ../fatigueMod 0)}} + {{../fatigueMod}}{{else}} - {{abs ../fatigueMod}}{{/if}}{{/if}} = {{this.total}}
    </div>
    <div class="roll-tn">TN: {{../targetNumber}}</div>
    <div class="roll-mos {{#if this.success}}success{{else}}failure{{/if}}">
      MoS: {{this.marginOfSuccess}} [{{#if this.success}}Success{{else}}Failure{{/if}}]
    </div>

    {{#if this.success}}
    <div class="damage-section">
      <div class="damage-header">Damage{{#if ../targetName}} to {{../targetName}}{{/if}}</div>

      {{!-- Hit Location if target exists --}}
      {{#if this.hitLocation}}
      <div class="hit-location">
        <span class="hit-label">Hit Location:</span>
        <span class="hit-value">{{this.hitLocation.displayLocation}}</span>
        <span class="hit-roll">[{{this.hitLocation.roll}}{{#if this.hitLocation.subRoll}}, {{this.hitLocation.subRoll}}{{/if}}]</span>
      </div>
      {{/if}}

      <div class="damage-details">
        {{#if this.isSubduing}}
        <div class="damage-line subduing">
          <span class="damage-label">Fatigue:</span>
          <span class="damage-value">{{this.fatigueDamage}}</span>
          <span class="damage-breakdown">({{this.baseDamage}} base{{#if this.mosDamage}} + {{this.mosDamage}} MoS{{/if}})</span>
        </div>
        {{else}}
        <div class="damage-line standard">
          <span class="damage-label">Standard:</span>
          <span class="damage-value">{{this.standardDamage}}</span>
          <span class="damage-breakdown">({{this.baseDamage}} base{{#if this.mosDamage}} + {{this.mosDamage}} MoS{{/if}})</span>
        </div>
        {{#if this.fatigueDamage}}
        <div class="damage-line fatigue">
          <span class="damage-label">Fatigue:</span>
          <span class="damage-value">{{this.fatigueDamage}}</span>
        </div>
        {{/if}}
        {{/if}}
        <div class="damage-line ap">
          <span class="damage-label">AP:</span>
          <span class="damage-value">{{this.ap}}{{this.apFactor}}</span>
          {{#if this.damageTypeName}}
          <span class="damage-type">({{this.damageTypeName}})</span>
          {{/if}}
        </div>
      </div>

      {{!-- Armor calculation if target exists --}}
      {{#if this.armorCalc}}
      <div class="armor-calc">
        <div class="armor-line">
          <span class="armor-label">Target Armor:</span>
          <span class="armor-value">{{this.armorCalc.armorValue}}</span>
        </div>
        <div class="armor-line">
          <span class="armor-label">Effective Armor:</span>
          <span class="armor-value">{{this.armorCalc.effectiveArmor}}</span>
          <span class="armor-breakdown">({{this.armorCalc.armorValue}} - {{this.armorCalc.apValue}} AP)</span>
        </div>
        <div class="armor-line final">
          <span class="armor-label">Final Damage:</span>
          <span class="armor-value">{{this.armorCalc.finalDamage}}</span>
          {{#if this.armorCalc.absorbed}}
          <span class="armor-absorbed">({{this.armorCalc.absorbed}} absorbed)</span>
          {{/if}}
        </div>
      </div>
      {{/if}}

      {{!-- Apply Damage button if target exists and user can apply --}}
      {{#if this.canApplyDamage}}
      <button class="apply-damage"
              data-target-id="{{this.targetActorId}}"
              data-standard="{{#if this.armorCalc}}{{this.armorCalc.finalDamage}}{{else}}{{this.standardDamage}}{{/if}}"
              data-fatigue="{{this.fatigueDamage}}"
              data-subduing="{{this.isSubduing}}"
              data-location="{{#if this.hitLocation}}{{this.hitLocation.armorLocation}}{{/if}}">
        Apply Damage
      </button>
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{/each}}

  {{#if (ne firingMode "single")}}
  <div class="ammo-info">Ammo Used: {{ammoUsed}} rounds</div>
  {{/if}}
</div>
