<div class="mech-foundry roll-result weapon-attack">
  <div class="roll-title">{{weaponName}} Attack</div>
  <div class="attack-type">Attack Type: {{attackType}}</div>

  {{!-- Combat Option Indicators --}}
  <div class="combat-options-info">
    {{#if coverLabel}}
    <div class="combat-option cover-indicator">
      <i class="fas fa-shield-alt"></i> Target in {{coverLabel}} Cover ({{coverMod}})
    </div>
    {{/if}}
    {{#if ignoreCover}}
    <div class="combat-option ignore-cover-indicator">
      <i class="fas fa-eye"></i> Cover Ignored
    </div>
    {{/if}}
    {{#if friendlyInLoF}}
    <div class="combat-option friendly-lof-indicator">
      <i class="fas fa-exclamation-triangle"></i> Friendly in Line of Fire ({{friendlyInLoFMod}})
    </div>
    {{/if}}
    {{#if aimedShot}}
    <div class="combat-option aimed-shot-indicator">
      <i class="fas fa-crosshairs"></i> Aimed Shot: {{aimedLocationLabel}} ({{aimedShotMod}})
    </div>
    {{/if}}
    {{#if targetProne}}
    <div class="combat-option prone-indicator">
      <i class="fas fa-level-down-alt"></i> Target is Prone ({{#if (gte proneMod 0)}}+{{/if}}{{proneMod}})
    </div>
    {{/if}}
  </div>

  {{#each results}}
  <div class="attack-roll">
    {{#if this.targetIndex}}<div class="target-label">Target {{this.targetIndex}}:</div>{{/if}}

    {{!-- Special Roll Display --}}
    {{#if this.specialRoll.isFumble}}
    <div class="special-roll fumble">{{this.specialRoll.displayText}}</div>
    {{else if this.specialRoll.isStunningSuccess}}
    <div class="special-roll {{#if this.specialRoll.isMiraculousFeat}}miraculous-feat{{else}}stunning-success{{/if}}">
      {{this.specialRoll.displayText}}
      {{#if this.specialRoll.bonusDice.length}}
      <span class="bonus-dice">(Bonus dice: {{#each this.specialRoll.bonusDice}}+{{this}}{{#unless @last}}, {{/unless}}{{/each}} = +{{this.specialRoll.bonusTotal}})</span>
      {{/if}}
    </div>
    {{/if}}

    <div class="roll-formula">
      [{{this.diceResults.[0]}}]+[{{this.diceResults.[1]}}]{{#if ../skillMod}} + ({{../skillMod}}){{/if}}{{#if ../inputMod}}{{#if (gte ../inputMod 0)}} + {{../inputMod}}{{else}} - {{abs ../inputMod}}{{/if}}{{/if}}{{#if ../splashMod}} + {{../splashMod}} splash{{/if}}{{#if ../coverMod}} {{../coverMod}} cover{{/if}}{{#if ../proneMod}}{{#if (gte ../proneMod 0)}} + {{../proneMod}}{{else}} {{../proneMod}}{{/if}} prone{{/if}}{{#if ../friendlyInLoFMod}} {{../friendlyInLoFMod}} FLoF{{/if}}{{#if ../aimedShotMod}} {{../aimedShotMod}} aimed{{/if}}{{#if ../recoilMod}} - {{../recoilMod}}{{/if}}{{#if ../firingModeMod}} - {{../firingModeMod}}{{/if}}{{#if ../injuryMod}}{{#if (gte ../injuryMod 0)}} + {{../injuryMod}}{{else}} - {{abs ../injuryMod}}{{/if}}{{/if}}{{#if ../fatigueMod}}{{#if (gte ../fatigueMod 0)}} + {{../fatigueMod}}{{else}} - {{abs ../fatigueMod}}{{/if}}{{/if}}{{#if this.specialRoll.bonusTotal}} + {{this.specialRoll.bonusTotal}} bonus{{/if}} = {{this.total}}
    </div>
    {{#if (ne this.total this.rawTotal)}}
    <div class="roll-raw">(Base roll: {{this.rawTotal}})</div>
    {{/if}}
    <div class="roll-tn">TN: {{../targetNumber}}</div>
    <div class="roll-mos {{#if this.success}}success{{else}}failure{{/if}}">
      MoS: {{this.marginOfSuccess}} [{{#if this.success}}Success{{else}}Failure{{/if}}{{#if this.specialRoll.isFumble}} (Auto){{else if this.specialRoll.isMiraculousFeat}} (Auto){{/if}}]
    </div>

    {{#if this.success}}
    <div class="damage-section">
      <div class="damage-header">Damage{{#if ../targetName}} to {{../targetName}}{{/if}}</div>

      {{!-- Hit Location if target exists --}}
      {{#if this.hitLocation}}
      <div class="hit-location">
        <span class="hit-label">Hit Location:</span>
        <span class="hit-value">{{this.hitLocation.displayLocation}}</span>
        <span class="hit-roll">[{{this.hitLocation.roll}}{{#if this.hitLocation.subRoll}}, {{this.hitLocation.subRoll}}{{/if}}]</span>
      </div>
      {{/if}}

      <div class="damage-details">
        {{#if this.isSubduing}}
        <div class="damage-line subduing">
          <span class="damage-label">Fatigue:</span>
          <span class="damage-value">{{this.fatigueDamage}}</span>
          <span class="damage-breakdown">({{this.baseDamage}} base{{#if this.mosDamage}} + {{this.mosDamage}} MoS{{/if}})</span>
        </div>
        {{else}}
        <div class="damage-line standard">
          <span class="damage-label">Standard:</span>
          <span class="damage-value">{{this.standardDamage}}</span>
          <span class="damage-breakdown">({{this.baseDamage}} base{{#if this.mosDamage}} + {{this.mosDamage}} MoS{{/if}})</span>
        </div>
        {{#if this.fatigueDamage}}
        <div class="damage-line fatigue">
          <span class="damage-label">Fatigue:</span>
          <span class="damage-value">{{this.fatigueDamage}}</span>
        </div>
        {{/if}}
        {{/if}}
        <div class="damage-line ap">
          <span class="damage-label">AP:</span>
          <span class="damage-value">{{this.ap}}{{this.apFactor}}</span>
          {{#if this.damageTypeName}}
          <span class="damage-type">({{this.damageTypeName}})</span>
          {{/if}}
        </div>
      </div>

      {{!-- Armor calculation if target exists --}}
      {{#if this.armorCalc}}
      <div class="armor-calc">
        <div class="armor-line">
          <span class="armor-label">Target Armor:</span>
          <span class="armor-value">{{this.armorCalc.armorValue}}</span>
        </div>
        <div class="armor-line">
          <span class="armor-label">Effective Armor:</span>
          <span class="armor-value">{{this.armorCalc.effectiveArmor}}</span>
          <span class="armor-breakdown">({{this.armorCalc.armorValue}} - {{this.armorCalc.apValue}} AP)</span>
        </div>
        <div class="armor-line">
          <span class="armor-label">Damage After Armor:</span>
          <span class="armor-value">{{this.armorCalc.damageAfterArmor}}</span>
        </div>
        <div class="armor-line">
          <span class="armor-label">Location Modifier:</span>
          <span class="armor-value">{{this.armorCalc.locationMultiplierDisplay}}</span>
          <span class="armor-breakdown">({{this.hitLocation.displayLocation}})</span>
        </div>
        {{#if this.armorCalc.woundDamage}}
        <div class="armor-line wound-damage">
          <span class="armor-label">Wound Effect Damage:</span>
          <span class="armor-value">+{{this.armorCalc.woundDamage}}</span>
        </div>
        {{/if}}
        <div class="armor-line final">
          <span class="armor-label">Final Damage:</span>
          <span class="armor-value">{{this.armorCalc.finalDamage}}</span>
          {{#if this.armorCalc.absorbed}}
          <span class="armor-absorbed">({{this.armorCalc.absorbed}} absorbed)</span>
          {{/if}}
        </div>
      </div>
      {{/if}}

      {{!-- Wound Effect (doubles on successful attack with damage) --}}
      {{#if this.woundEffect}}
      <div class="wound-effect">
        <div class="wound-header">
          <span class="wound-label">WOUND EFFECT</span>
          <span class="wound-roll">[{{this.woundEffect.roll}}]</span>
          {{#if this.isDoubles}}<span class="doubles-indicator">(Doubles!)</span>{{/if}}
        </div>
        <div class="wound-name">{{this.woundEffect.name}}</div>
        <div class="wound-description">{{this.woundEffect.description}}</div>
        {{#if this.woundEffect.additionalFatigue}}
        <div class="wound-damage-line">
          <span class="wound-damage-label">Additional Fatigue:</span>
          <span class="wound-damage-value">+{{this.woundEffect.additionalFatigue}}</span>
          <span class="wound-roll-result">[1d6 = {{this.woundEffect.additionalRoll}}]</span>
        </div>
        {{/if}}
        {{#if this.woundEffect.additionalStandard}}
        <div class="wound-damage-line">
          <span class="wound-damage-label">Additional Standard:</span>
          <span class="wound-damage-value">+{{this.woundEffect.additionalStandard}}</span>
          <span class="wound-roll-result">[1d6 = {{this.woundEffect.additionalRoll}}]</span>
        </div>
        {{/if}}
        {{#if this.woundEffect.note}}
        <div class="wound-note">{{this.woundEffect.note}}</div>
        {{/if}}
      </div>
      {{/if}}

      {{!-- Apply Damage button if target exists and user can apply --}}
      {{#if this.canApplyDamage}}
      <button class="apply-damage"
              data-target-id="{{this.targetActorId}}"
              data-standard="{{#if this.armorCalc}}{{this.armorCalc.finalDamage}}{{else}}{{this.standardDamage}}{{/if}}"
              data-fatigue="{{this.fatigueDamage}}"
              data-subduing="{{this.isSubduing}}"
              data-location="{{#if this.hitLocation}}{{this.hitLocation.armorLocation}}{{/if}}">
        Apply Damage
      </button>
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{/each}}

  {{#if (ne firingMode "single")}}
  <div class="ammo-info">Ammo Used: {{ammoUsed}} rounds</div>
  {{/if}}
</div>
