<div class="mech-foundry roll-result weapon-attack">
  <div class="roll-title">{{weaponName}} Attack</div>
  <div class="attack-type">Attack Type: {{attackType}}</div>

  {{#each results}}
  <div class="attack-roll">
    {{#if this.targetIndex}}<div class="target-label">Target {{this.targetIndex}}:</div>{{/if}}
    <div class="roll-formula">
      [{{this.diceResults.[0]}}]+[{{this.diceResults.[1]}}]{{#if ../skillMod}} + ({{../skillMod}}){{/if}}{{#if ../inputMod}}{{#if (gte ../inputMod 0)}} + {{../inputMod}}{{else}} - {{abs ../inputMod}}{{/if}}{{/if}}{{#if ../recoilMod}} - {{../recoilMod}}{{/if}}{{#if ../firingModeMod}} - {{../firingModeMod}}{{/if}}{{#if ../injuryMod}}{{#if (gte ../injuryMod 0)}} + {{../injuryMod}}{{else}} - {{abs ../injuryMod}}{{/if}}{{/if}}{{#if ../fatigueMod}}{{#if (gte ../fatigueMod 0)}} + {{../fatigueMod}}{{else}} - {{abs ../fatigueMod}}{{/if}}{{/if}} = {{this.total}}
    </div>
    <div class="roll-tn">TN: {{../targetNumber}}</div>
    <div class="roll-mos {{#if this.success}}success{{else}}failure{{/if}}">
      MoS: {{this.marginOfSuccess}} [{{#if this.success}}Success{{else}}Failure{{/if}}]
    </div>
  </div>
  {{/each}}

  {{#if (ne firingMode "single")}}
  <div class="ammo-info">Ammo Used: {{ammoUsed}} rounds</div>
  {{/if}}
</div>
