<form class="{{cssClass}} mech-foundry item-sheet armor-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="Armor Name"/>
      </h1>
    </div>
  </header>

  <section class="sheet-body sheet-content">
    <div class="form-row">
      <div class="form-group">
        <label>Location</label>
        <select name="system.location">
          <option value="head" {{#if (eq system.location "head")}}selected{{/if}}>Head</option>
          <option value="torso" {{#if (eq system.location "torso")}}selected{{/if}}>Torso</option>
          <option value="arms" {{#if (eq system.location "arms")}}selected{{/if}}>Arms</option>
          <option value="legs" {{#if (eq system.location "legs")}}selected{{/if}}>Legs</option>
          <option value="full" {{#if (eq system.location "full")}}selected{{/if}}>Full Body</option>
        </select>
      </div>
      <div class="form-group">
        <label>Armor Type</label>
        <input type="text" name="system.armorType" value="{{system.armorType}}" placeholder="e.g., Flak Vest"/>
      </div>
    </div>

    <div class="form-group">
      <label>Barrier Armor Rating (BAR) - M/B/E/X</label>
      <div class="bar-inputs">
        <div class="bar-input">
          <label>M (Melee)</label>
          <input type="number" name="system.bar.m" value="{{system.bar.m}}" data-dtype="Number" min="0"/>
        </div>
        <div class="bar-input">
          <label>B (Ballistic)</label>
          <input type="number" name="system.bar.b" value="{{system.bar.b}}" data-dtype="Number" min="0"/>
        </div>
        <div class="bar-input">
          <label>E (Energy)</label>
          <input type="number" name="system.bar.e" value="{{system.bar.e}}" data-dtype="Number" min="0"/>
        </div>
        <div class="bar-input">
          <label>X (Explosive)</label>
          <input type="number" name="system.bar.x" value="{{system.bar.x}}" data-dtype="Number" min="0"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}}/>
        Equipped
      </label>
    </div>

    <div class="form-group">
      <label>Notes</label>
      <input type="text" name="system.notes" value="{{system.notes}}"/>
    </div>

    <div class="editor-container">
      <label>Description</label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
